body {
    background: linear-gradient(0deg, #28166D 0%, #28166D 100%);
    padding: 45px;
}

::-webkit-scrollbar-track {
    background: #b9afbe
}

::-webkit-scrollbar-thumb {
    background-color: rgb(248, 235, 255); /* Cor da barra de rolagem */
    border-radius: 15px; /* Borda arredondada da barra de rolagem */
}

section {
    padding-bottom: 8px;
    padding-top: 8px;
}

.input-group-text {
    background-color: #BAB0BF;
    border-color: #BAB0BF;
    border-radius: 45px 0 0 45px;
    font-weight: 700;
}
.form-control {
    background-color: #F8EBFF;
    border: 2px solid #BAB0BF;
    border-radius: 15px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}
.form-control:focus {
    background-color: #FEF7FFFF;
}
label {
    font-weight: 500;
    color: #020024;
}
label:focus {
    border: none;
    background-color: transparent;
}

.btn {
    padding: 10px 32px;
    background-color: #543db2;
    font-size: 20px;
    font-weight: 500;
    color: #f8ebff;
}
.btn:hover {
    background-color: rgba(84, 61, 178, 0.7);
    color: #F8EBFF;
}

.form-check-input {
    background-color: #F8EBFF;
    border-color: #BAB0BF;
}
.form-check-input:checked {
    background-color: #543DB2;
    border-color: #BAB0BF;
}
.form-switch .form-check-input {
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23543DB2'/%3e%3c/svg%3e");
}

.dia-item {
    align-items: center;
    border-radius: 15px 15px 0 0;
    display: flex;
    flex-direction: column;
    padding: 15px 30px;
    position: relative;
    background-color: #BAB0BF;
    color: #020024;
}

.dia-item.active {
    background-color: #f8ebff;
}

.dia-item.active:hover {
    background-color: rgba(248, 235, 255, 0.8);
}

.dia-item:hover {
    background-color: rgba(186, 176, 191, 0.8);
}

.pd16 {
    padding: 16px;
}

.edit-sessoes {
    background-color: #F8EBFF;
    border-radius: 0 15px 15px 15px;
    width: 90vw;
    height: 500px;
}