body {
  color: #020024;
  background-color: #020024;
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: linear-gradient(0deg, #201257 0%, #1A0E46 100%);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(84, 61, 178, 0.5);
  border-radius: 15px;
}
h1 {
  color: #F8EBFF;
  font-size: 38px;
  font-weight: 900;
  line-height: 103%;
  left: 43px;
}
h2 {
  color: #F8EBFF;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
h3 {
  color: #F8EBFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
h4 {
  color: #F8EBFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}
h5 {
  color: #F8EBFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
p {
  color: #F8EBFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.p18 {
  color: #F8EBFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}
.small {
  color: #F8EBFF;
  font-size: 10px;
  font-weight: 300;
  text-transform: uppercase;
}
.numero {
  color: #F8EBFF;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 101%;
  text-transform: uppercase;
}
img {pointer-events: none;}
.gradient-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #28166D 0%, #020024 100%);
  z-index: -1;
  pointer-events: none;
}
.navbar-toggler {
  border: none;
}
.navbar-toggler svg {
  fill: #F8EBFF;
}
button {
  border: none;
}
.header-button {
  text-decoration: none;
  color: #F8EBFF;
  text-transform: lowercase;
}
nav li:hover, nav a:hover {
  color: #BAB0BF;
}
header {
  position: relative;
  background: #020024;
  box-shadow: 0 4px 3px 0 #020024;
  z-index: 1;
}
.btn {
  border-radius: 15px;
  padding: 10px 30%;
  max-width: 350px;
  white-space: nowrap;
  background: #F8EBFF;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  color: #020024;
  text-align: center;
}
.btn:hover {
  background: #BAB0BF;
  color: rgba(2, 0, 36, 0.80);
}
#filmCarousel {overflow: hidden;}
#filmCarousel .carousel-inner .carousel-item img {
  width: 100%;
  height: 785px;
  object-fit: cover;
}
#filmCarousel .carousel-inner .carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, #28166D, #28166D00);
  z-index: 0;
}
.carousel-caption {
  position: absolute;
  max-width: 570px;
  max-height: 363px;
  top: 165px;
  left: 43px;
  width: calc(100% - 63px);
  color: #f8ebff;
  text-align: left;
  z-index: 2;
  padding: 45px;
  right: 30%;
}
.carousel-control-prev:hover, .carousel-control-next:hover {fill: #ffffff;}
.carousel-btn {
  position: absolute;
  top: 370px;
  left: 0;
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: left;
  padding: 0 45px;
}
.banner {
  background-size: cover;
  background-position: center center;
  width: 95vw;
  height: 170px;
  border-radius: 45px;
  text-align: center;
  margin: 16px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: opacity 300ms;
}
.banner:hover {
  opacity: 0.8;
}
.cartazes {
  margin: 16px auto;
  padding: 16px 0;
  left: 43px;
}
.cartazes ::-webkit-scrollbar {
  height: 10px;
}
.cartaz .img-cartaz {
  width: 299px;
  height: 450px;
  background-size: cover;
  background-position: center center;
  border-radius: 15px;
}
.cartaz-texto {
  display: -webkit-box;
  width: 299px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-align: center;
}
.cartazes .titulo {
  display: -webkit-box;
  width: 309px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;

  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
}
.cartazes a {
  text-decoration: none;
}
.cartaz {
  position: relative;
  padding: 16px 16px;
}
.image-container {
  position: relative;
  display: inline-block;
}
.img-cartaz {
  display: block;
  width: 100%;
  height: auto;
}
.cartaz-detalhes {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 10px;
}
.sobre {
  position: relative;
  width: 100vw;
  min-height: 600px;
  display: block;
  overflow: auto;
  background-image: linear-gradient(to right, #28166D, #28166D00), url('../images/cinema.jpg');
  background-size: cover;
  background-position: center center;
  box-shadow: 0 -4px 20px 0 #2c2767 inset;
}
@media (max-width: 767px) {
  .sobre p {
    font-size: 15px;
  }
  .sobre .carousel-caption {
    top: 15px;
    padding: 0;
    margin: auto;
    text-align: justify;
    align-items: center;
    justify-content: center;
  }
  .cartaz .img-cartaz {
    width: 150px;
    height: 225px;
  }
  .cartaz-texto {
    width: 150px;
    font-size: 20px;
  }
  .cartazes .titulo {
    width: 150px;
  }
  .cartazes {
    margin: 0 auto;
    padding: 0;
  }
  .cartaz .pre-estreia {
    width: 130px;
    height: 40px;
    bottom: 90px;
  }
  .pre-estreia p {
    font-size: 12px;
  }
  .carousel-caption {
    text-align: justify;
    justify-content: center;
  }
  .carousel-btn {
    justify-content: center;
  }
  #filmCarousel .carousel-inner .carousel-item::before {
    background: linear-gradient(to top, #28166D, #28166D00);
  }
}
.desktop-hide {
  display: none;
}
.mobile-hide {
  display: block;
}
.filme {
  display: flex;
  width: 490px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 6px;
  padding: 16px 0 15px 15px;
  background-color: rgba(44, 39, 103, 0.5);
  border-radius: 15px;
}
.filme .filme-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filme h3 {
  width: 435px;
  flex-shrink: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.filme .cartaz {
  display: flex;
  width: 111px;
  height: 167px;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.filme .filme-body {
  display: flex;
  align-items: flex-start;
}
.filme .sessoes {
  display: flex;
  width: 341px;
  height: 167px;
  padding-left: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
}
.filme .sessao-head {
  display: flex;
  width: 331px;
  height: 27px;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
}
#contato .contato {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#contato .contato a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}
@media (max-width: 500px) {
  #contato .contato svg {
    width: 15px;
  }
  .desktop-hide {
    display: block;
  }
  .mobile-hide {
    display: none;
  }
  .filme {
    width: 90vw;
    gap: 0.1vh;
    padding-left: 16px;
  }
  .filme h3 {
    width: 80vw;
  }
  .filme .img-cartaz {
    width: 22vw;
    height: 33px;
    padding: 10px;
    gap: 10px;
  }
  .filme .sessoes {
    width: 50vw;
    height: 33vw;
    padding-left: 16px;
    gap: 3px;
  }
  .filme .sessao-head {
    width: 50vw;
  }
  .pd45 {
    padding: 16px;
  }
  .navbar {
    background-color: #020024;
  }
  .banner {
    padding-top: 16px;
    padding-bottom: 0;
  }
  #filmCarousel .carousel-inner .carousel-item img {
    height: 70vh;
  }
  #filmCarousel {
    padding-bottom: 0;
  }
  .sinopse {
    display: none;
  }
  .carousel-caption h1 {
    text-align: center;
    font-size: clamp(20px,8vw,38px);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    bottom: 5px;
  }
  .carousel-caption .small {
    bottom: 10px;
  }
  .btn {
    padding: 10px 50px;
    font-size: clamp(25px,5vw,25px);
  }
  .carousel-caption {
    padding: 60px 0;
    flex-direction: column;
    position: absolute;
    left: 50%;
    max-width: 570px;
    text-align: center;
    display: block;
    bottom: 30px;
    top: auto;
    transform: translateX(-50%);
  }
  .carousel-btn {
    position: absolute;
    display: block;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
  }
  .sobre {
    background-image: linear-gradient(rgba(40, 22, 109, 0.7), rgba(40, 22, 109, 0.7)), url('../images/cinema.jpg');
  }
  .carousel-indicators {
    visibility: hidden;
  }
}
footer {
  padding: 45px 30px;
  margin: auto auto;
}
footer .contato {
  display: flex;
  align-items: center;
  gap: 22px;
  padding: 5px 0;
  overflow: hidden;
}
footer .contato h5 {
  display: inline;
  margin-left: 15px;
  font-size: clamp(10px,16px,18px);;
}
footer a {
  text-decoration: none;
}
.pd45 {
  padding: 16px 45px;
}
.date-carousel {
  display: flex;
  justify-content: flex-start !important;
  align-items: center;
  width: 100%;
  padding: 16px 45px;
  margin-right: auto;
  white-space: nowrap;
  overflow-x: auto;
  flex-direction: row;
}
.date-item {
  align-items: center;
  border-radius: 15px 15px 0 0;
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
  position: relative;
  background-color: #28166D;
}
@media screen and (max-width: 900px) {
  .date-carousel {
    padding: 16px 0;
  }
}
.date-item.active {
  background-color: #543DB2;
}
.date-item.active:hover {
  background-color: #7560C1;
}
.date-item:hover {
  background-color: #52418A;
}
.date-button {
  background-color: transparent;
  fill: #f8ebff;
}
svg:hover {
  fill: rgba(248, 235, 255, 0.5);
}
.prog-box {
  background-color: #543DB2;
  width: 100vw;
  margin: -16px 0 0;
  padding: 16px 16px 65px;
}
#prog-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 1100px) {
  #prog-box {
    grid-template-columns: 1fr;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.prog-box .dados {
  width: 425px;
}
.prog-box .cartaz {
  padding: 0;
}
.prog-box .img-cartaz {
  width: 113px; !important;
  height: 170px; !important;
  background-size: cover;
  background-position: center center;
  border-radius: 15px;
}
.sessao {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 8px 0;
}
.sessao .horarios {
  display: flex;
  gap: 10px;
}
.sessao .numero {
  padding: 0 4px;
  border-radius: 5px;
  border: 2px solid #F8EBFF;
}
.sessao .sala {padding-right: 16px;}
.sessao .esp {margin-left: auto;}
.capt {text-transform: capitalize;}
.uppr {text-transform: uppercase;}
.pre-estreia {
  width: 249px;
  height: 31px;
  position: absolute;
  bottom: 110px;
  left: 50%;
  transform: translateX(-50%);
}
.pre-estreia p {
  text-align: center;
  background-color: #543DB2;
  border-radius: 15px;
  padding: 4px;
}
.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}
.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #543db1;
  padding: 20px;
  border-radius: 5px;
}
.close-popup {
  margin-top: 10px;
  cursor: pointer;
}
.accordion {
  padding-bottom: 45px;
  --bs-accordion-bg: #28166d;
}
.accordion-header, .accordion-button {
  font-weight: 500;
  font-size: 20px;
  color: #F8EBFF;
}
.accordion-button:not(.collapsed) {
  background-color: #543DB2;
  color: #F8EBFF;
}
.accordion-item {
  border-color: #020024;
  color: #F8EBFF;
  background-color: #2c2767;
  font-weight: 400;
  font-size: 16px;
}
.accordion-button::after,
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23F8EBFF'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.modal {
  --bs-modal-bg: #28166D;
  --bs-modal-header-border-color: #28166D;
}
.modal-body {
  padding: 32px;
}
.openModal:hover img {
  opacity: 60%;
  transition: 200ms;
}
a.openModal:hover {
  opacity: 60%;
  transition: 200ms;
}
.cartaz-detalhes {
  visibility: hidden;
}
.openModal:hover .cartaz-detalhes {
  visibility: visible;
  transition: 200ms;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {}
.block-text,
.cartaz-detalhes {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.navbar-nav > li{
  padding-left:15px;
  padding-right:15px;
}
.small strong {
  font-weight: 600;
}
.carousel-indicators [data-bs-target] {
  background-color: #F8EBFF;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}